.ion-card-journey-wrapper {
  border-radius: 20px;
  padding: 10px;
  margin: 25px;
  margin-top: 10px;
}

.ion-card-elevation-wrapper {
  border-radius: 20px;
  padding: 10px;
  margin: 25px;
}

.ion-card-title-wrapper {
  padding: 10px;
}

.map-input-wrapper {
  background-color: #9e7c75;
  color: #d9d9d9;
}

.card-journey-description {
  font-weight: lighter;
  color: #d9d9d9;
}

.shoe-image {
  margin-top: 5px;
  width: 50%;
  height: 50%;
}

.ion-icon-checkmark {
  border: none;
}
