.ion-card-wrapper {
    box-shadow: none;
    background-color: #856464;
}

.ion-card-title-wrapper {
    padding: 10px;
    font-size: x-large;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #CDB2AC;
}

.settings-label {
    text-align: center;
}

div[slot='content'] {
    background: rgba(var(--ion-color-tertiary-rgb), 0.25);
}